{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'includes/header.html' %}

<div class="block pt-5 pb-5 pr-20 pl-20">

    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <div class="mx-auto max-w-3xl text-center">
          <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">La Mejor Tienda Online</h2>
      
          <p class="mt-4 text-gray-500 sm:text-xl">
            Productos de las mejores marcas, precios favorables, buena atencion,
            el mejor servicio al cliente para todos nuestros clientes.
          </p>
        </div>
      
        <dl class="mt-6 grid grid-cols-1 gap-4 sm:mt-8 sm:grid-cols-2 lg:grid-cols-4">
          <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Total de tus compras</dt>
      
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">$0</dd>
          </div>
      
          <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Cantidad tus productos comprados</dt>
      
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">0</dd>
          </div>
      
          <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Cantidad productos disponibles</dt>
      
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">0</dd>
          </div>
      
          <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Cantidad Total Ventas</dt>
      
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">0</dd>
          </div>
        </dl>
      </div>

</div>

<div class="block pt-5 pb-5 pr-20 pl-20">
    <!--
Heads up! 👋

This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

    <section
    class="overflow-hidden bg-[url({% static 'img/portada.png' %})] bg-cover bg-top bg-no-repeat"
    >
    <div class="bg-black/50 p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="text-center ltr:sm:text-left rtl:sm:text-right">
        <h2 class="text-2xl font-bold text-white sm:text-3xl md:text-5xl">Compra Ya</h2>

        <p class="text-2xl font-bold text-white sm:text-3xl md:text-1xl">
        Disfruta de todos nuestros productos, la mejor calidad, los mejores precios, y lo mejor
        los llevamos hasta la puerta de tu casa.
        </p>

        <div class="mt-4 sm:mt-8">
        <a
            href="{% url 'products_app:products'%}"
            class="inline-block rounded-full bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
            Comprar
        </a>
        </div>
    </div>
    </div>
    </section>

    
</div>


{% endblock content %}