{% extends 'base.html' %}

{% block content %}

<div>
    <!--
Heads up! 👋

Plugins:
    - @tailwindcss/forms
-->

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg">  

        <form action="#" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8" method="POST">{% csrf_token %}
            <p class="text-center text-lg font-medium">Codigo de Activacion</p>

            <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
                Ingresa el codigo de activacion que se envio al el correo
                de registro de usuario: <b>{{usuario.email}} </b> 
            </p>
    
            <div>   
                <div class="relative">
                    {{form.codigo}}
        
                    <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-4 text-gray-400"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                        />
                    </svg>
                    </span>
                </div>
                {% for error in  form.errors.codigo %}
                    <p style="color:red; text-align:center;">{{error}}</p>
                {% endfor %}
                </div>
        
                <button
                type="submit"
                class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"
                >
                Verificar Codigo
                </button>

            </div>   
            
        </form>
        </div>
    </div>
</div>


{% endblock content %}